<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZbPArw36ly8-Ni1LKUpyWxHTY6VCjZmI</string>
	<key>GCM_SENDER_ID</key>
	<string>931242183141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.kongbaguni.mygifticon</string>
	<key>PROJECT_ID</key>
	<string>mygifticon-3ea4d</string>
	<key>STORAGE_BUCKET</key>
	<string>mygifticon-3ea4d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931242183141:ios:48ffd0ba610fa4b018c70c</string>
</dict>
</plist>